<div class="row mb-2 mr-0 ml-0 align-items-center" id="filter_menu">
  <h3 class="mr-2">Товары</h3>
  <div class="col- mr-1">
    <div class="form-import">
      <%= form_tag import_ledron_products_path, remote: true, multipart: true, class: "form_import" do %>
        <%= file_field_tag :file, class: "form-control-xs" %>
        <%= submit_tag "Import" , class:'btn btn-primary btn-sm form-control-xs', disabled: true %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 mr-1">
    <span class="align-middle"><small>Всего: <%= Product.product_all_size %></small></span>
    <span class="align-middle"><small>Отфильтровано: <%=@products.count%></small></span><br>
    <span class="align-middle">
      <small>
        Активных:
        <% count_active = Product.where(deactivated: false).size %>
        <span id="active_products_count" class=<%= "product_count_over_limit" if count_active > 40000 %> > <%= count_active %> </span>
      </small>
    </span>
  </div>
  <div class="col-">
    <div class="col- ">
      <div class="dropdown">
        <a class="btn btn-info dropdown-toggle form-control-xs" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действия
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Создать XLS Maytoni", create_xls_with_params_products_path(distributor: "Maytoni"),
                      class: "btn-primary btn form-control-xs",
                      remote: true%>
          <%= link_to "Скачать XLS Maytoni", "/product_Maytoni_output.xls", class: "btn-secondary btn form-control-xs" %>
          <%= link_to "Создать XLS Mantra", create_xls_with_params_products_path(distributor: "Mantra"),
                      class: "btn-primary btn form-control-xs",
                      remote: true %>
          <%= link_to "Скачать XLS Mantra", "/product_Mantra_output.xls", class: "btn-secondary btn form-control-xs" %>
          <%= link_to "Создать XLS Lightstar", create_xls_with_params_products_path(distributor: "Lightstar"),
                      class: "btn-primary btn form-control-xs",
                      remote: true %>
          <%= link_to "Скачать XLS Lightstar", "/product_Lightstar_output.xls", class: "btn-secondary btn form-control-xs" %>
          <%= link_to "Создать XLS Swg", create_xls_with_params_products_path(distributor: "Swg"),
                      class: "btn-primary btn form-control-xs",
                      remote: true %>
          <%= link_to "Скачать XLS Swg", "/product_Swg_output.xls", class: "btn-secondary btn form-control-xs" %>
          <%= link_to "Создать XLS Ledron", create_xls_with_params_products_path(distributor: "Ledron"),
                      class: "btn-primary btn form-control-xs",
                      remote: true %>
          <%= link_to "Скачать XLS Ledron", "/product_Ledron_output.xls", class: "btn-secondary btn form-control-xs" %>
          <%= link_to "Создать XLS Elevel", create_xls_with_params_products_path(distributor: "Elevel"),
                      class: "btn-primary btn form-control-xs",
                      remote: true %>
          <%= link_to "Скачать XLS Elevel", "/product_Elevel_output.xls", class: "btn-secondary btn form-control-xs" %>
          <%= link_to "Update: Maytoni Mantra Lightstar Swg Эlevel", update_distributor_products_path,
                      remote: true,
                      class: "btn-secondary btn form-control-xs" %>
          <%= link_to "Создать CSV Update", create_csv_update_products_path,
                      remote: true,
                      class: "btn-primary btn form-control-xs" %>
          <%= link_to "Скачать CSV Update", "/product_update_output.csv", class: "btn-secondary btn form-control-xs" %>
          <%= link_to "Import InSales Product", import_insales_xml_products_path,
                      remote: true,
                      class: "btn-primary btn form-control-xs" %>
        </div>
      </div>
    </div>
  </div>
  <%= search_form_for @search, html: {class: 'form-inline'}  do |f|%>
    <% @search.distributor_eq.nil? ? distributor_class_selected = '' : distributor_class_selected = ' option_selected' %>
    <% value_distributor = @search.distributor_eq %>
    <%= f.select :distributor_eq, options_from_collection_for_select([["", "Поставщик"], ["Maytoni", "Maytoni"], ["Mantra", "Mantra"], ["Lightstar", "Lightstar"], ["Ledron", "Ledron"], ["Swg", "Swg"], ["Elevel", "Elevel"]], :first, :last , selected: value_distributor), {}, {class: "form-control form-control-xs" + distributor_class_selected} %>

    <% @search.deactivated_eq.nil? ? deactivated_class_selected = '' : deactivated_class_selected = ' option_selected' %>
    <% value_deactivated = @search.deactivated_eq %>
    <%= f.select :deactivated_eq, options_from_collection_for_select([["", "Статус deactivated"], [true, "deactivated"], [false, "activated"]], :first, :last , selected: value_deactivated), {}, {class: 'form-control form-control-xs' + deactivated_class_selected} %>

    <% @search.insales_check_eq.nil? ? insales_check_class_selected = '' : insales_check_class_selected = ' option_selected' %>
    <% value_insales_check = @search.insales_check_eq %>
    <%= f.select :insales_check_eq, options_from_collection_for_select([["", "Статус InSales ID"], [true, "связанные"], [false, "несвязанные"]], :first, :last , selected: value_insales_check), {}, {class: 'form-control form-control-xs' + insales_check_class_selected} %>

    <%#= f.collection_select :distributor_eq, Product.all.order('distributor ASC').map {|product| [product.distributor, product.distributor]}.uniq, :first, :last, {include_blank: "Поставщики"}, class: "form-control form-control-xs" , style: "max-width: 150px;" %>
    <%#= f.search_field :id_eq, placeholder: 'ID', class: "form-control form-control-xs"%>

    <% @search.title_or_sku_cont.nil? ? title_or_sku_cont_selecteed = '' : title_or_sku_cont_selecteed = ' option_selected' %>
    <%= f.search_field :title_or_sku_cont, placeholder: 'Название, Артикул', class: "form-control form-control-xs" + title_or_sku_cont_selecteed %>

    <% @search.quantity_eq.nil? ? quantity_eq_selecteed = '' : quantity_eq_selecteed = ' option_selected' %>
    <%= f.search_field :quantity_eq, placeholder: 'остаток', class: "form-control form-control-xs" + quantity_eq_selecteed %>

    <% @search.quantity_not_eq.nil? ? quantity_not_eq_selecteed = '' : quantity_not_eq_selecteed = ' option_selected' %>
    <%= f.search_field :quantity_not_eq, placeholder: 'остаток не равен', class: "form-control form-control-xs" + quantity_not_eq_selecteed %>

    <% @search.quantity_add_not_eq.nil? ? quantity_add_not_eq_selecteed = '' : quantity_add_not_eq_selecteed = ' option_selected' %>
    <%= f.search_field :quantity_add_not_eq, placeholder: 'доп. склад не равен', class: "form-control form-control-xs" + quantity_add_not_eq_selecteed %>

    <%#= f.collection_select :quantity_eq, [[0, 0], [10, 10]], :first, :last, {include_blank: "Остаток"}, class: "form-control form-control-xs", style: "width: 120px;" %>
    <%#= f.collection_select :check_eq, Product.all.map {|product| [product.check, product.check]}.uniq, :first, :last, {include_blank: "Статус поставщика"}, class: "form-control form-control-xs", style: "width: 120px;" %>
      <%#= f.select :check_eq, options_from_collection_for_select(["true", {class: 'form-control form-control-xs'}], ["false", {class: 'form-control form-control-xs'}]) %>
    <div class="form-group button_group">
      <% @search.price_gteq.nil? ? price_gteq_selecteed = '' : price_gteq_selecteed = ' option_selected' %>
      <%= f.search_field :price_gteq, placeholder: 'Цена от', class: "form-control form-control-xs" + price_gteq_selecteed %>

      <% @search.price_lteq.nil? ? price_lteq_selecteed = '' : price_lteq_selecteed = ' option_selected' %>
      <%= f.search_field :price_lteq, placeholder: 'Цена до', class: "form-control form-control-xs" + price_lteq_selecteed %>
    </div>
    <% @search.check_eq.nil? ? check_class_selected = '' : check_class_selected = ' option_selected' %>
    <% value_check = @search.check_eq %>
    <%= f.select :check_eq, options_from_collection_for_select([["", "Статус у поставщика"], [true, "true"], [false, "false"]], :first, :last , selected: value_check), {}, {class: "form-control form-control-xs" + check_class_selected } %>
<!--    <div class="dropdown">-->
      <%#= render 'shared/filter_deactivated' %>
<!--    </div>-->

    <div class="form-group ml-2 button_group">
      <% f.submit 'Поиск', class: 'btn btn-info' %>
      <%= button_tag(type: 'submit', :class => "btn btn-info form-control-xs") do %><span class="oi oi-magnifying-glass"></span><% end %>
      <%= link_to '<span class="oi oi-reload"></span>'.html_safe, products_path, class: 'btn btn-outline-dark form-control-xs' %>
      <%= link_to '<span class="oi oi-list"></span>'.html_safe, products_path(otchet_type: 'selected', q: @params_q_to_csv), remote: true, title: "Создать файл с выбранными товарами", class: 'btn btn-outline-dark form-control-xs'%>
      <%= link_to "Скачать CSV Selected", "/product_selected.csv", class: "btn-secondary btn form-control-xs" %>
    </div>
  <% end %>
</div>

<div class="table-responsive" id="container_for_table_with_data">
  <table class="table table-hover table-condensed table-sm">
    <thead class="thead-light">
    <tr>
      <th>
        <div>
          <span class="btn btn-danger form-control-xs" id="deactivatedAll">
            <span class="oi oi-ban"></span>
          </span>
          <span class="btn btn-success form-control-xs" id="showAll">
            <span class="oi oi-eye"></span>
          </span>
        </div>
        <%= check_box_tag 'selectAll', value = 'selectAll'%>
      </th>
<!--      <th>ID</th>-->
<!--      <th>ID в Товарах</th>-->
      <th>Артикул</th>
      <th>Название</th>
      <th>Актуальность InSales</th>
      <th>Актуальность Поставщик</th>
      <th><%= sort_link(@search, :quantity, "Остаток") %></th>
      <th><%= sort_link(@search, :quantity_add, "Доп. склад") %></th>
      <th><%= sort_link(@search, :price, "Цена") %></th>
      <th>Поставщик</th>
      <th></th>
    </tr>
    </thead>

    <tbody id="products_table">
    <% @products.each do |product| %>
      <tr class="product_id_<%= product.id %> <%="deactivated" if product.deactivated %> <%="exist_in_insales" if product.insales_var_id.present? %>">
<!--      <tr class="<%#= 'sync' if product.products.present? %>">-->
        <td><%=check_box_tag "product_ids[]", product.id%></td>
<!--        <td><%#= product.id %></td>-->
<!--        <td>-->
          <%# product.products.each do |product| %>
            <%#= link_to product.id, products_path(q: {id_eq: product.id}) %>
          <%# end %>
<!--        </td>-->
        <td><%= product.sku %></td>
        <td><%= link_to product.title, product.insales_link, target: '_blank' %> <%= link_to '<span class="oi oi-document"></span>'.html_safe, product, target: '_blank', class: "btn btn-info form-control-xs" %></td>
        <td><%= product.insales_check %></td>
        <td><%= product.check %></td>
        <td><%= product.quantity %></td>
        <td><%= product.quantity_add %></td>
        <td><%= product.price %></td>
<!--        <td><%#= best_in_place product, :quantity, :as => :input %></td>-->
<!--        <td><%#= best_in_place product, :quantity_add, :as => :input %></td>-->
<!--        <td><%#= best_in_place product, :price, :as => :input %></td>-->
        <td><%= product.distributor %></td>
        <td><%= link_to '<span class="oi oi-x"></span>'.html_safe, product, method: :delete, data: { type: :json, confirm: "Удалить? #{product.title}" }, remote: true, class: "btn btn-danger form-control-xs" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="digg_pagination mt-4 mb-4">
  <%= will_paginate @products %>
</div>


